@font-face {
    font-family: flexo-medium;
    src: url(Fonts/Flexo-Medium.otf);
}

@font-face {
    font-family: flexo-regular;
    src: url(Fonts/Flexo-Regular.otf);
}

body {
	background-image: url('images/google-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 25px 25px 0px 25px;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-height: 800px;
	height: 800px;
}

p {
	color: #dddddd;
	font-family: flexo-regular, sans-serif;
	line-height: 24px;
}

.row {
	width: 23.5%;
	height: 100%;
	float: left;
	margin-right: 2%;
	position: relative;
	font-family: sans-serif;
	color: white;
}


.row > section > p {
	padding: 15px;
	font-weight: 100;
	margin: 0;
}

.row2 {
	background: rgba(7, 123, 180, 0.95);
}

.row3 {
	background: rgba(8, 48, 78, 0.95);
}

.row4 {
	background: rgba(67, 110, 140, 0.95);
	margin-right: 0;
}

.sub-box {
	margin-bottom: 4.5%;
	position: relative;
}

.time-box {
	background: rgba(234, 140, 44, 0.95);
	height: 18%;
}

.weather-box {
	background: rgba(206, 212, 215, 0.95);
	height: 12%;
}

.meetings-box {
	background: rgba(113, 177, 208, 0.95);
	height: 65%;
	margin-bottom: 0;
}

.corner-title {
	color: white;
	font-size: 12px;
	text-align: left;
	padding: 16px;
	padding-bottom: 5px;
	font-family: flexo-medium, sans-serif;
	letter-spacing: 2px;
}

.corner-background {
	height: 24px;
	width: 33px;
	position: absolute;
	top: 8px;
	right: 8px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.today {
	background-image: url('images/calendar.png');
	background-repeat: no-repeat;
}

.weather {
	background-image: url('images/weather.png');
	background-repeat: no-repeat;
}

.meetings {
	background-image: url('images/meetings.png');
	background-repeat: no-repeat;
}

.corner-highlight {
	color: #002545;
}

.offsite {
	background-image: url('images/offsite-events.png');
}

.client {
	background-image: url('images/client-facing.png');
}

.culture {
	background-image: url('images/maga-culture.png');
}

.current-time {
	text-align: center;
	font-size: 49px;
	padding: 18px 10px 0 10px;
	font-family: flexo-regular, sans-serif;
	color: white;
	letter-spacing: 2px;
}

.current-day {
	text-align: center;
	font-size: 24px;
	padding: 0 5px 5px 5px;
	font-family: flexo-regular, sans-serif;
	color: white;
	font-weight: 100;
	letter-spacing: 1px;
}

.current-weather {
	text-align: center;
	font-size: 44px;
	padding: 5px;
	font-family: flexo-medium, sans-serif;
	color: #002545;
	/* font-weight: 100; */
	letter-spacing: 2px;
}

.title {
	padding: 15px;
	font-size: 24px;
	padding-bottom: 30px;
	font-family: flexo-medium, sans-serif;
}


.title-highlight {
	font-family: flexo-medium, sans-serif;
	letter-spacing: 2px;
}


.highlight {
	font-weight: 600;
	color: white;
}


.announcements {
	padding: 14px;
	font-family: flexo-regular, sans-serif;
	font-weight: 100;
}

.announcement > .event-highlight-date {
	color: rgb(180, 180, 180);
	border-bottom: 1px rgba(255, 255, 255, 0.06) solid;
	padding-bottom: 6px;
	margin-bottom: 6px;
}

.announcement {
	margin-bottom: 30px;
}


.meetings-section {
	font-family: flexo-regular, sans-serif;
	padding: 28px;
	margin-bottom: 10px;
	margin-top: 4px;
}

.next-meetings-section {
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 4px;
	color: white;
}

.upcoming-meetings-section {
	font-size: 13px;
	margin-top: 4px;
	color: #E7E7E7;
}

.next-meeting-location, .second-meeting-location, .third-meeting-location {
	margin-bottom: 22px;
	line-height: 22px;
}


.next-meeting-title, .second-meeting-title, .third-meeting-title {
	clear: both;
}

.meeting-h1 {
	font-size: 24px;
	letter-spacing: 2px;
	color: rgb(47, 100, 210);
}

.meeting-h2 {
	font-size: 18px;
	letter-spacing: 2px;
	color: rgb(47, 100, 210);
}

.meeting-info {
	padding-bottom: 8px;
}

.meeting-time {
	float: left;
}

.next-meetings-section > .meeting-time {
	font-size: 20px;
	color: #F4F4F4;
}

.upcoming-meetings-section > .meeting-time {
	font-size: 16px;
}


.maga-logo {
	background-image: url('images/maga-logo.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 30px;
	height: 50px;
	padding-top: 4px;
}

#authorize-button {
	background: rgba(33, 121, 145, 0.37);
	border: 1px solid rgb(31, 115, 143);
	padding: 5px;
	color: white;
	font-size: 15px;
	font-family: flexo, sans-serif;
	width: 70px;
	font-weight: 100;
	text-align: center;
	float: left;
	margin-right: 20px;
}

#authorize-button a {
	color: white;
	text-decoration: none;
}

#authorize-button:hover{
	background: rgb(14, 54, 76);
	cursor: pointer;
}