body {
	background-image: url('google-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 60px;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 900px;
}

.row {
	width: 23.5%;
	height: 883px;
	/* border: 1px solid white; */
	float: left;
	margin-right: 2%;
	position: relative;
	font-family: sans-serif;
	color: white;
}


.row > section > p {
	padding: 15px;
	font-weight: 100;
	margin: 0;
}

.row2 {
	background: rgba(7, 123, 180, 0.95);
}

.row3 {
	background: rgba(8, 48, 78, 0.95);
}

.row4 {
	background: rgba(67, 110, 140, 0.95);
	margin-right: 0;
}

.sub-box {
	margin-bottom: 18px;
	position: relative;
}

.time-box {
	background: rgba(234, 140, 44, 0.95);
	height: 180px;
}

.weather-box {
	background: rgba(206, 212, 215, 0.95);
	height: 120px;
}

.meetings-box {
	background: rgba(113, 177, 208, 0.95);
	height: 547px;
	margin-bottom: 0;
}

.corner-title {
	color: white;
	font-size: 1em;
	font-family: sans-serif;
	text-align: left;
	padding: 8px;
}

.corner-background {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 4px;
	right: 8px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.today {
	background-image: url('calendar.png');
}

.weather {
	background-image: url('weather.png');
}

.meetings {
	background-image: url('meetings.png');
}

.offsite {
	background-image: url('offsite-events.png');
}

.client {
	background-image: url('client-facing.png');
}

.culture {
	background-image: url('maga-culture.png');
}

.current-time {
	text-align: center;
	font-size: 49px;
	padding: 5px;
	padding-top: 18px;
	font-family: sans-serif;
	color: white;
}

.current-day {
	text-align: center;
	font-size: 22px;
	padding: 5px;
	font-family: sans-serif;
	color: white;
	font-weight: 100;
}

.current-weather {
	text-align: center;
	font-size: 44px;
	padding: 5px;
	font-family: sans-serif;
	color: #002545;
	/* font-weight: 100; */
	padding-top: 10px;
}

.title {
	padding: 15px;
	font-size: 24px;
	padding-bottom: 30px;
}

.announcements, .events {
	margin: 15px;
}

.announcements {
	border-bottom: 1px solid;
}

.highlight {
	font-weight: 600;
}

.event-info {
	float: right;
	font-size: 16px;
	width: 190px;
}

.event-date {
	float: left;
}

.event {
	overflow: overlay;
	padding-top: 15px;
}
