@font-face {
    font-family: flexo-medium;
    src: url(Fonts/Flexo-Medium.otf);
}

@font-face {
    font-family: flexo-regular;
    src: url(Fonts/Flexo-Regular.otf);
}

body {
	background-image: url('google-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 40px;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 800px;
}

.row {
	width: 23.5%;
	height: 800px;
	/* border: 1px solid white; */
	float: left;
	margin-right: 2%;
	position: relative;
	font-family: sans-serif;
	color: white;
}

p {
	color: #dddddd;
	font-family: flexo-regular;
	line-height: 24px;
}

.row > section > p {
	padding: 15px;
	font-weight: 100;
	margin: 0;
}

.row2 {
	background: rgba(7, 123, 180, 0.95);
}

.row3 {
	background: rgba(8, 48, 78, 0.95);
}

.row4 {
	background: rgba(67, 110, 140, 0.95);
	margin-right: 0;
}

.sub-box {
	margin-bottom: 18px;
	position: relative;
}

.time-box {
	background: rgba(234, 140, 44, 0.95);
	height: 160px;
}

.weather-box {
	background: rgba(206, 212, 215, 0.95);
	height: 100px;
}

.meetings-box {
	background: rgba(113, 177, 208, 0.95);
	height: 504px;
	margin-bottom: 0;
}

.corner-title {
	color: white;
	font-size: 12px;
	text-align: left;
	padding: 16px;
	padding-bottom: 5px;
	font-family: flexo-medium;
	letter-spacing: 2px;
}

.corner-background {
	height: 24px;
	width: 33px;
	position: absolute;
	top: 8px;
	right: 8px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
}

.today {
	background-image: url('calendar.png');
	background-repeat: no-repeat;
}

.weather {
	background-image: url('weather.png');
	background-repeat: no-repeat;
}

.meetings {
	background-image: url('meetings.png');
	background-repeat: no-repeat;
}

.corner-highlight {
	color: #002545;
}

.offsite {
	background-image: url('offsite-events.png');
}

.client {
	background-image: url('client-facing.png');
}

.culture {
	background-image: url('maga-culture.png');
}

.current-time {
	text-align: center;
	font-size: 49px;
	padding: 18px 10px 0 10px;
	font-family: flexo-regular;
	color: white;
	letter-spacing: 2px;
}

.current-day {
	text-align: center;
	font-size: 24px;
	padding: 0 5px 5px 5px;
	font-family: flexo-regular;
	color: white;
	font-weight: 100;
	letter-spacing: 1px;
}

.current-weather {
	text-align: center;
	font-size: 44px;
	padding: 5px;
	font-family: flexo-medium;
	color: #002545;
	/* font-weight: 100; */
	letter-spacing: 2px;
}

.title {
	padding: 15px;
	font-size: 24px;
	padding-bottom: 30px;
	font-family: flexo-medium;
}


.title-highlight {
	font-family: flexo-medium;
	letter-spacing: 2px;
}

.announcements, .events {
	margin: 15px;
}

.announcements {
	border-bottom: 1px solid;
}

.highlight {
	font-weight: 600;
	color: white;
}

.event-info {
	float: right;
	font-size: 16px;
	width: 190px;
	color: #dddddd;
	line-height: 24px;
}

.event-date {
	float: left;
}

.event {
	overflow: overlay;
	padding-top: 15px;
	font-family: flexo-regular;
}


.meetings-section {
	font-family: flexo-regular;
	padding: 16px;
	margin-bottom: 10px;
	margin-top: 4px;
}

.next-meetings-section {
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 4px;
}

.upcoming-meetings-section {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 4px;
}

.next-meeting-location {
	margin-bottom: 22px
}

.next-meeting-start {
	float: left;
}

.next-meeting-end {
	clear: both;
}

.meeting-h1 {
	font-size: 20px;
	letter-spacing: 2px;
}

.meeting-h2 {
	font-size: 16px;
	letter-spacing: 2px;
}

.meeting-info {
	color: #E4E4E4;
	padding-bottom: 5px;
}


.maga-logo {
	background-image: url('maga-logo.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: 30px;
	height: 60px;
}

#authorize-button {
	width: 30px;
	height: 10px;
	background: rgb(18, 188, 207);
}